@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/Cookie-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/Bebas-Neue-Regular.woff2') format('woff2')
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('/fonts/Bebas-Neue-Semibold.woff2') format('woff2');
}

@import "tailwindcss";
@theme {
  --font-cookie: 'Cookie', sans-serif;
  --font-bebas: 'Bebas Neue', sans-serif;
}