@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/Cookie-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/Bebas-Neue-Regular.woff2') format('woff2')
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('/fonts/Bebas-Neue-Semibold.woff2') format('woff2');
}

@import "tailwindcss";
@theme {
  --font-cookie: 'Cookie', sans-serif;
  --font-bebas: 'Bebas Neue', sans-serif;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#059669, #059669);
  background-size: 0% 2px;
  background-position: 50% 100%;
  /* Centered */
  background-repeat: no-repeat;
  transition:
    background-size 0.3s ease-in-out,
    background-position 0.3s ease-in-out;
}

.link-underline:hover,
.group:hover .link-underline {
  background-size: 100% 3px;
  background-position: 50% 100%;
  /* Keep it centered */
}

